.root {
    text-align: center;
    width: 750px;
    margin: 0 auto;
    
    span {
        color: red;
    }
}
.description {
    font-size: 22px;
    margin-left: 250px;
//    margin-bottom: 300px;
  padding-bottom: 100px;
}